body
{
    text-align: center;
    background-color: #1c5956bf;
}
h1
{
    color: red;
    font-family: 'Cinzel', serif;
    font-size: 80px;
    margin-bottom: 0;
}
h3
{
    font-size: 35px;
    margin-bottom:2.5rem;
    color: #000532;
}
img 
{
    width:200px;
}
div
{
    display: inline-block;
    padding: 5%;
}